# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
prisma_debug.log
error.log
generate_log.txt
pull_log.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
